ol {
    counter-reset:li; /* Initiate a counter */

    margin:2em 0 0 2em; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}


ol > li {
    position:inherit; /* Create a positioning context */
    margin:0 0 6px 0; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style-type: decimal;
    font-weight: 300;
}
