---
layout: home
---
<h1>Самое интересное и актуальное</h1>





 {% for post in site.categories.actual %}
 <div class="row">
      <div class="col-sm-3">

            {% if post.img %}
                  <div class="img-crop"> <img src="/images/{{post.img}}" alt="{{post.title}}"/></div>
                  {% else %}
                  <div class="img-crop"> <img src="/images/getImage.jpeg" alt="{{post.title}}"/></div>
                  {% endif %}

      </div>
      <div class="col-sm-9">
        <h3><a href="{{post.url}}">{{post.title}}</a></h3>
        {{post.content | truncatewords: 30 | replace: "<em>","" | replace: "</em>",""}}
      </div>
 </div>
    {% endfor %}

