---
layout: main
title: Карта сайта, все разделы сайта
---
<h1>Карта сайта, все разделы сайта</h1>
{% for item in site.all_categories %}

    <h2 class="section-title">
      <a href="/content/list/{{item.url}}">{{ item.name }}</a>
      <a class="pull-right" href="/content/list/{{item.url}}">{{ site.categories[item.id] | size }}</a> </h2>
    <span class="triangle-bottom top0"></span>


    <div class="section-group row">
    <ul>
          {% for post in site.categories[item.id] %}
           {% if post.url != id %}

             <li>
                <a  href="{{post.url}}">{{post.title}}</a>
            <span class="date-format">{% include date.html %}</span>
            </li>


           {% endif %}

         {% endfor %}
      </ul>
    </div>
{% endfor %}



    <h2 class="section-title">
      <a href="/content/list/countries.html">Страны</a>
       </h2>
    <span class="triangle-bottom top0"></span>


    <div class="section-group row">
    <ul>
        {% for item in site.all_countries %}
          {% for post in site.categories[item.id] %}
           {% if post.url != id  %}
            {% if post.categories contains "job" %}
             {% else %}
             <li>
                <a  href="{{post.url}}">{{post.title}}</a>
            <span class="date-format">{% include date.html %}</span>
            </li>

            {% endif %}
           {% endif %}

         {% endfor %}
        {% endfor %}
      </ul>
    </div>


