---
layout: main
title: Авторы ресурса ITIN.ua
---
 {% for item in site.authors %}
{% assign url=item[0]  %}
{% assign user=item[1] %}
{% assign author=item[1] %}


     <div class="liner author-block author-preview">



            <div class="row">

              <div class="col-lg-10 author-info">
                <div class="author-photo step-sign">
                    <a href="/content/author/{{url}}.html">
                  <img src="/images/author/{{user.image}}" width="64" alt="user" />
                        </a>
                  <span class="step-arrow"></span>
                </div>

                <h4><span class="fading">Автор:</span>
                     <a href="/content/author/{{url}}.html">
                    {{user.name}}
                         </a>
                </h4>
                <p class="fading" style="margin:5px;">{{user.job}}</p>
                   {% include social.html %}
                </p>
              </div>

            </div> <!-- ROW -->
     </div>  <!-- Liner -->


 {% endfor %}

<p>Мы ищем авторов </p>
<p><a href="/content/we-ask-for-an-article.html" class="main-btn side-btn">Запрос на статью</a> </p>
