{% assign find = false %}

{% if page.categories contains "news" %}
  {% assign find = true %}
  <a href="/content/list/news.html">Новости</a>
{% endif %}

{% if find == false %}
{% for cat in site.all_countries %}
    {% if page.categories contains cat.id %}
    {% assign find = true %}
           <a href="/content/list/{{cat.url}}">{{cat.name}}</a>
    {% endif %}
{% endfor %}
{% endif %}


{% if find == false %}
{% for cat in site.all_categories %}
    {% if page.categories contains cat.id %}
    {% assign find = true %}
           <a href="/content/list/{{cat.url}}">{{cat.name}}</a>
    {% endif %}
{% endfor %}
{% endif %}



