    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="/images/IT-inua-white.png" height="32px" alt="IT in ua"/>
          </div>
          <div class="col-md-10">
              <ul>
            {% include footer_links.html %}
                  </ul>
          </div>
        </div>

            <br />
      <p>
        &copy; 2015. Все права защищены. <br />
        Любое использование материалов допускается только с указанием статьи
      </p>

      </div>
    </footer>