<li {% if page.url == "/content/o-proekte.html" %}class="current"{% endif %}><a href="/content/o-proekte.html">О проекте</a></li>
<li {% if page.url == "/content/reklama.html" %}class="current"{% endif %}><a href="/content/reklama.html">Реклама</a></li>
<li {% if page.url == "/content/napisat-v-redaktsiyu.html" %}class="current"{% endif %}><a href="/content/napisat-v-redaktsiyu.html">Написать нам</a></li>
<li {% if page.url == "/content/tehpodderzhka.html" %}class="current"{% endif %}><a href="/content/tehpodderzhka.html">Техподдержка</a></li>
<li {% if page.url == "/content/list/users.html" %}class="current"{% endif %}><a href="/content/list/users.html">Наши авторы</a></li>
<li {% if page.url == "/content/polzovatelskoe-soglashenie.html" %}class="current"{% endif %}><a href="/content/polzovatelskoe-soglashenie.html">Пользовательское соглашение</a></li>
<li {% if page.url == "/content/list/all_articles.html" %}class="current"{% endif %}><a href="/content/list/all_articles.html">Карта сайта</a></li>
<li {% if page.url == "/content/documents.html" %}class="current"{% endif %}><a href="/content/documents.html">Документы</a></li>
<li {% if page.url == "/content/we-ask-for-an-article.html" %}class="current"{% endif %}><a href="/content/we-ask-for-an-article.html">Запрос на статью</a></li>
<li {% if page.url == "/content/add-material.html" %}class="current"{% endif %}><a href="/content/add-material.html">Добавить материал</a></li>
