
		<ul>
                <li><a href=""> 
                	<img src="/images/partners/betlab.png" alt="betlab" /> </a></li>
                <li><a href=""> 
                	<img src="/images/partners/ciklum3.png" alt="CIKLUM" /> </a></li>
                <li><a href=""> 
                	<img src="/images/partners/globallogic.png" alt="globallogic" /> </a></li> 
                <li><a href=""> 
                	<img src="/images/partners/kstt_JBdYCC5.png" alt="KSTT" /> </a></li>
                <li><a href=""> 
                	<img src="/images/partners/materialise3.png" alt="Materialise" /> </a></li>    
                <li><a href=""> 
                	<img src="/images/partners/maxymiser4.png" alt="Maxymiser" /> </a></li>                    	             	               	                	
        </ul>              