
		<ul>
                <li><a href=""> 
                	<img src="/images/betlab.png" alt="betlab" /> </a></li>
                <li><a href=""> 
                	<img src="/images/ciklum3.png" alt="CIKLUM" /> </a></li>
                <li><a href=""> 
                	<img src="/images/globallogic.png" alt="globallogic" /> </a></li> 
                <li><a href=""> 
                	<img src="/images/kstt_JBdYCC5.png" alt="KSTT" /> </a></li>
                <li><a href=""> 
                	<img src="/images/materialise3.png" alt="Materialise" /> </a></li>    
                <li><a href=""> 
                	<img src="/images/maxymiser4.png" alt="Maxymiser" /> </a></li>                    	             	               	                	
        </ul>
               