<ul class="partners">
  <li>
    <a href="http://laudis.ua/" target="_blank">
      <img src="/images/partners/LAUDIS_110-56.png" alt="LAUDIS" />
    </a>
  </li>
  <!-- <li> -->
  <!--   <a href="http://energyapp.co" target="_blank"> -->
  <!--     <img src="http://energyapp.co/img/banner.png" alt="EnergyExpress: calculation of gross and net calorific value of coal" /> -->
  <!--   </a> -->
  <!-- </li> -->
  <li>
    <a href="http://tak-audit.com.ua" target="_blank">
      <img src="/images/partners/TAKaudit_110-56.png" alt="TAKaudit" />
    </a>
  </li>
</ul>
