

  <div class="liner header-liner">
    <div class="container">

      <div class="row">
        <div class="col-md-2">

            <p class="search-label">Искать материал:</p>
        </div>
        <div class="col-md-7 search-block">
           <script>
  (function() {
    var cx = '003984021792138740406:fgqixi3tsgs';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
        </div>
        <div class="col-md-3 pull-right">
          <a href="/content/add-material.html" class="main-btn headmain-button">Добавить материал</a>
        </div>
      </div>

    </div>

  </div>  <!--  Liner  -->