{% if author.fb %}
<a href="{{author.fb}}" title="facebook" target="_blank">
<img src="/images/info/f-blue.png" height="32" alt="f" /> </a>
{% endif %}

{% if author.ln %}
<a href="{{author.ln}}" title="linkedin" target="_blank">
<img src="/images/info/in-blue.png" height="32" alt="in" /> </a>
{% endif %}

{% if author.tw %}
<a href="{{author.tw}}" title="twitter" target="_blank">
<img src="/images/info/t-blue.png" height="32" alt="g+" /> </a>
{% endif %}

 {% if author.g_ %}
<a href="{{author.g_}}" title="Google PLus" target="_blank">
<img src="/images/info/g+-blue.png" height="32" alt="t" /> </a>
{% endif %}

 {% if author.web %}
<a href="{{author.web}}" title="Website" target="_blank">
<img src="/images/info/home-blue.png" height="32" alt="H" /> </a>
{% endif %}

  {% if author.git %}
<a href="{{author.git}}" title="gitHUB" target="_blank">
<img src="/images/info/gitHUB-blue.png" height="32" alt="gitH" /> </a>
{% endif %}