---
layout: body
---


    {% include search.html %}


    <div class="container main-container"> <!--  MAin Conteiner-->

      <div class="row">
        <div class="col-md-2 left-col"> <!--  LEFT -->
            <h2 class="section-title">
              {% include category_name.html %}
            </h2>
            <span class="triangle-bottom top0"></span>

          <ul class="link-list">

              {% for category in page.categories.first  %}
                    {% if category == "actual" %}
                    {% elsif category == "featured" %}
                    {% elsif category == "job" %}
                    {% else %}

                        {% for post in site.categories[category] %}

                        {% if post.categories contains "job" %}
                            {% else %}


           <li {% if page.url == post.url %}class="current"{% endif %}>
              <a href="{{post.url}}">{{post.title}}</a>
              <span class="date-format">{% include date.html %}</span>
            </li>
              {% endif %}

                          {% endfor %}
                    {% endif %}
                {% endfor %}
          </ul>

             <p class="all-articles">

                 {% assign is_country = false %}
                 {% for country in site.all_countries %}
                    {% if page.categories contains country.id%}
                        {% assign is_country = true %}
                    {% endif %}
                 {% endfor %}


                 {% if is_country == true %}
                     <a href="/content/list/countries.html">Все страны</a>
                 {% elsif page.categories contains "news"%}
                    <a href="/content/list/news.html">Все новости</a>
                 {% else%}
                     <a href="/content/list/all_articles.html">Все разделы</a>
                 {% endif %}

            </p>

        </div>
        <div class="col-md-7 article-body">  <!--  CENTER    -->


            <h1 class="article-header"> {{page.title}} </h1>

              <p class="border-top"> 
                <span class="article-data">{% include date.html %}</span>
                <span class="float-right"> {% include pdf.html %}</span>
              </p>

                  {{content}}

              <hr />

              <p class="push-left"> Поделиться &nbsp;&nbsp;
                  <span class='st_facebook_small' displayText='Facebook'></span>
                  <span class='st_linkedin_small' displayText='LinkedIn'></span>
                  <span class='st_pocket_small' displayText='Pocket'></span>
                  <span class='st_twitter_small' displayText='Tweet'></span>
              </p>



              <p class="push-right dit-article-">

                Вам есть чем дополнить/уточнить? <br/>
                <a href="{% include edit_url.html %}" class="main-btn" target="_blank">
                  <img src="/images/info/gitHUB-blue.png" width="25" alt="gitHUB" /> 
                  Редактировать материал на github</a>  <br />
                <a href="{% include history_url.html %}" class="pull-right" target="_blank">
                  <img src="/images/info/history.png" width="24" alt="i" />
                  История изменений</a> 
              </p>

              <hr />



            {% assign author = site.authors[page.author] %}
            {% if author %}

          <div class="liner author-block">
            <div class="row">


              <div class="col-lg-7 author-info">
                <div class="author-photo step-sign">
                    <a href="/content/author/{{page.author}}.html">
                  <img src="/images/author/{{author.image}}" width="64" alt="user" />
                        </a>
                  <span class="step-arrow"></span>
                </div>

                <h4><span class="fading">Автор:</span>
                     <a href="/content/author/{{page.author}}.html">
                    {{author.name}}
                         </a>
                </h4>
                <p class="fading">{{author.job}}</p>
              </div>

              <div class="col-lg-5 became-author">
                <h3>
                  Есть о чем написать?!  
                  Станьте автором! </h3>

                  <p><a href="/content/add-material.html" class="main-btn">Добавить материал</a> </p>
              </div>

            </div> <!-- ROW -->
          </div>  <!-- Liner -->
            {% endif %}






          <br />

             <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'itinua';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


        </div> <!-- CENTER ends -->



        <div class="col-md-3 right-col">

            {% for country in site.all_countries %}
            {% if country.id == page.categories.first%}


            <h3 class="block-header">{{country.name}} Вакансии</h3>

            {% endif %}
            {% endfor %}

            <ul class="jobs-list">
            {% for post in site.categories.[page.categories.first] limit: 4 %}
                {% if post.categories contains "job" %}
            <li>
              <a  href="{{post.url}}"> {{post.title}}</a>
            </li>
                {% endif %}
           {% endfor %}
          </ul>

             <p class="all-articles">
            <a href="/content/list/all_jobs.html">Все вакансии</a> </p>

         {% include ads.html %}
        
          <br /> 
        </div> 

      </div><!-- row ends -->



      <br />      <br />      <br />

     {% include actual.html %}

      <br /><br /><br />

    </div> <!--  MAin Conteiner-->