<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Все что вы хотели спросить об IT</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/blog.css" rel="stylesheet">


  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
	<h2 class="blog-post-title"><a href="/" style="text-decoration: none"  ><b><font color="GREEN">ITIN.UA</font></b></a> Собираем Знания Вместе</h2>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Все что вы хотели спросить об IT</h1>
        <p class="lead blog-description">Мы вместе c GitHub собираем и даем ответы на все вопросы ИТ</p>
      </div>

      <div class="row">

	<div class="col-sm-3">
		{% capture my %}{% include block1.md %}{% endcapture %}{{ my | markdownify }}
	</div>

        <div class="col-sm-7 blog-main">
        <a href="/" >Назад</a>
        {{content}}


          <a href="https://github.com/itinua/itinua.github.io/blob/master{{page.url | replace:'.html','.md' }}">Редактировать</a>


            <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'itinua';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


        </div><!-- /.blog-main -->

             <div class="col-sm-2 col-sm-offset-0 blog-sidebar">

          <div class="sidebar-module">
            <h4>Твиты</h4>
          <div class="sidebar-module">
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->



                <ul class="nav navbar-nav">
                    <li><a href="/content/ru/o-proekte.html">О проекте</a></li>
                    <li><a href="">Реклама</a></li>
                    <li><a href="">Написать в редакцию</a></li>
                    <li><a href="">Техподдержка</a></li>
                    <li><a href="">Пользовательское соглашение</a></li>
                    <li><a href="/content/debug.html">Отладка</a></li>
                </ul>

   <section class="copyright-container">
        <div class="row">
            <div class="col col-sm-8 col-xs-12">
                <p>© 2009 — 2015. Все права защищены.</p>
                <p>
                    Любое использование материалов допускается только с указанием статьи
                </p>
</div>
</div>

    </section>
  </body>
</html>
