<!DOCTYPE html>
<html lang="en">
  <head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,700italic,700,500italic,400italic,500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      {%if page.title %}
      <meta name="description" content="{{page.title }}">
      <meta name="keys" content="{{page.content || truncatewords: 20 }}">
    <title>{{ page.title }}</title>
      {% else %}
      <title>IT in ua — Все о IT Бизнесе</title>
      {% endif %}

    <!-- Bootstrap -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/style.css" rel="stylesheet">

    <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="lte-ie7.css" />
    <![endif]-->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

     <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "fd89589b-cfe2-4ff8-abd3-d774ee399eff", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script type="text/javascript" src="/dist/js/jquery-2.1.4.min.js"></script>
  </head>
  <body class="">

 <div class="container" >
   <div class="ads-long">   
 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TOP TOP -->
<ins class="adsbygoogle"
     style="display:inline-block;width:980px;height:120px"
     data-ad-client="ca-pub-8347903083053959"
     data-ad-slot="9275496873"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
 </div>

  <header >
    <div class="container" >

      <div class="row main-header">
        <div class="col-sm-2 IT-moto ">

          <a href="/vse-ob-it-biznese.html"><img src="/images/info/ITinua.png" width="102" alt="IT in ua" /></a>

          <em>Собираем знания вместе</em>
        </div>

        <div class="col-sm-7">
            <h1 class="IT-point">
            Все об <strong> IT Бизнесе</strong></h1>
        </div>

        <div class="col-md-3 head-git">  
          <a class="main-btn head-button" href="/content/add-material.html">Добавить материал</a>
          <a class="head-octocat" href="https://github.com/itinua/itinua.github.io" target="_blank">
            <img src="/images/info/github-transparent.png"></a>
        </div>
      </div>

    </div>
      {% if page.withLine %}
      <hr class="thin-hr top5">
      {% endif %}
  </header>

  {{ content }}


    <footer>
      <div class="container">

        <div class="row">
          <div class="col-md-2">
            <img src="/images/info/IT-inua-white.png" height="32px" alt="IT in ua"/>
          </div>
          <div class="col-md-10 itua-links">
            <ul>
              {% include footer_links.html %}
            </ul>
          </div>
        </div>  <!-- row - links -->

        <div class="row">
          <div class="col-md-2">
          <h4>Наши партнеры</h4>
          <br />
          </div>
          <div class="col-md-10">
            <ul>
              {% include footer_partners.html %}
            </ul>
          </div>

        </div>  <!-- row - partners -->


        <div class="row">
          <div class="col-md-2">
          <h4>Мы в соцсетях </h4>
          </div>
          <div class="col-md-10">
            <ul class="socials">
              <li><a href="/feed.xml" target="_blank" >
                  <img src="/images/info/rss.png" height="30px"></a></li>
              <li><a href="https://www.facebook.com/pages/Legal-and-Tax/1509772229235305" target="_blank" >
                  <img src="/images/info/f.png" height="32px"></a></li>
              <li><a href="https://www.linkedin.com/grp/home?gid=8345299" target="_blank" >
                  <img src="/images/info/in.png" height="32px"></a></li>
              
              <!--
              <li><a href="/" target="_blank" ><img src="/images/info/g+.png" height="32px"></a></li>
              <li><a href="/" target="_blank" ><img src="/images/info/t.png" height="32px"></a></li>
              -->
            </ul>
          </div>
        </div>  <!-- row - partners -->

            <br />
      <p>
        &copy; 2015. Все права защищены. <br />
       При использовании материалов сайта обязательным условием является наличие гиперссылки в пределах первого абзаца на страницу расположения исходной статьи с указанием бренда издания ITIN.COM.UA
      </p>

      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->


{% analytics.html %}
  </body>
</html>
