<!DOCTYPE html>
<html lang="en">
  <head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,700italic,700,500italic,400italic,500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IT in ua — Все о IT Бизнесе в Украине</title>

    <!-- Bootstrap -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="">
 <div class="container" >
  {% include ads_top.html %}
 </div>

  <header >
    <div class="container" >

      <div class="row main-header">
        <div class="col-sm-2 IT-moto ">

          <a href="/"><img src="/images/ITinua.png" width="102" alt="IT in ua" /></a>

          <em>Собираем знания вместе</em>
        </div>

        <div class="col-sm-7">
            <h1 class="IT-point">
            Все об <strong> IT Бизнесе</strong> в Украине</h1>
        </div>

        <div class="col-sm-3 user-login">

        </div>
      </div>

    </div>
      {% if page.withLine %}
      <hr class="thin-hr top5">
      {% endif %}
  </header>

  {{content}}


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="/images/IT-inua-white.png" height="32px" alt="IT in ua"/>
          </div>
          <div class="col-md-10">
            <ul>
              {% include footer_links.html %}
            </ul>
          </div>
        </div>

            <br />
      <p>
        &copy; 2015. Все права защищены. <br />
        Любое использование материалов допускается только с указанием статьи
      </p>

      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>