<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Все что вы хотели спросить об IT</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/blog.css" rel="stylesheet">


  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
	<h2 class="blog-post-title"><a href="/" style="text-decoration: none"  ><b><font color="GREEN">ITIN.UA</font></b></a> Собираем Знания Вместе</h2>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Все что вы хотели спросить об IT</h1>
        <p class="lead blog-description">Мы вместе c GitHub собираем и даем ответы на все вопросы ИТ</p>
      </div>

      <div class="row">

	<div class="col-sm-2">
		НОВОЕ
		<hr/>

        {% capture my_include %}{% include news.md %}{% endcapture %}{{ my_include | markdownify }}

	</div>

        <div class="col-sm-7 blog-main">

               <script>
  (function() {
    var cx = '003984021792138740406:fgqixi3tsgs';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>


            <b>{{page.author}}</b>
            {{collections.tags}}
            {{content}}






        </div><!-- /.blog-main -->

        <div class="col-sm-2 col-sm-offset-0 blog-sidebar">



          <div class="sidebar-module sidebar-module-inset">
                <script >
                    var a = {"Ё":"YO","Й":"I","Ц":"TS","У":"U","К":"K","Е":"E","Н":"N","Г":"G","Ш":"SH","Щ":"SCH","З":"Z","Х":"H","Ъ":"'","ё":"yo","й":"i","ц":"ts","у":"u","к":"k","е":"e","н":"n","г":"g","ш":"sh","щ":"sch","з":"z","х":"h","ъ":"'","Ф":"F","Ы":"I","В":"V","А":"a","П":"P","Р":"R","О":"O","Л":"L","Д":"D","Ж":"ZH","Э":"E","ф":"f","ы":"i","в":"v","а":"a","п":"p","р":"r","о":"o","л":"l","д":"d","ж":"zh","э":"e","Я":"Ya","Ч":"CH","С":"S","М":"M","И":"I","Т":"T","Ь":"","Б":"B","Ю":"YU","я":"ya","ч":"ch","с":"s","м":"m","и":"i","т":"t","ь":"","б":"b","ю":"yu"};

                    function transliterate(word){
                    return word.replace(/ь/g, '').replace(/Ь/g, '').split('').map(function (char) {
                    return a[char] || char;
                    }).join("");
                    }
                    function onKey(e){
                         e = e || window.event;
                            if (e.keyCode == 13)
                            {

                                var text = document.getElementById('btnSearch').value.toLowerCase().replace(/ /g, '-');
                                document.getElementById('btnSearch').value = transliterate(text);
                                document.getElementById('btnSearch').select();
                            }
                    }
                </script>
            <input type="text" width="100px" id="btnSearch" onkeypress="onKey(event);"/>


            <h4>Реклама</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Твиты</h4>
          <div class="sidebar-module">
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->



                <ul class="nav navbar-nav">
                    <li><a href="/content/ru/o-proekte.html">О проекте</a></li>
                    <li><a href="">Реклама</a></li>
                    <li><a href="">Написать в редакцию</a></li>
                    <li><a href="">Техподдержка</a></li>
                    <li><a href="">Пользовательское соглашение</a></li>
                    <li><a href="/content/debug.html">Отладка</a></li>
                </ul>

   <section class="copyright-container">
        <div class="row">
            <div class="col col-sm-8 col-xs-12">
                <p>© 2009 — 2015. Все права защищены.</p>
                <p>
                    Любое использование материалов допускается только с указанием статьи
                </p>
</div>
</div>

    </section>
  </body>
</html>
