---
layout: body
title: Юридическая помощь в IT Бизнесе
img: info/itinweb.png
---


    {% include search.html %}


    <div class="container"> <!--  MAin Conteiner-->

      <div class="row">

        <div class="col-md-8" id="mainpart">   <!--  CENTER -->
            {{content}}
        </div> <!-- CENTER ends -->

                    <div class="col-md-3">     <!--  LEFT -->
          <h3 class="block-header">Новое</h3>

          <ul class="link-list">
            {% assign counter = 0 %}
            {% for post in site.posts %}
              {% if post.categories contains "job"%}
              {% elsif post.categories contains "news"%}
              {% else %}
              {% if counter < 7 %}
            <li>
              <a  href="{{post.url}}"> {{post.title}}</a>
              <span class="date-format">{% include date.html %}</span>
            </li>
               {% endif %}
             {% assign counter = counter | plus: 1 %}
              {% endif %}
           {% endfor %}
          </ul>
            <p class="all-articles">
                <a class="" href="/content/list/all_actual.html">Все новое</a>
            </p>
          <br  />


            <h3 class="block-header">
           </span>Коментарии</h3>
             <script type="text/javascript" src="http://itinua.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=100"></script>


        </div>



      </div><!-- row ends -->

      <br />   
      <div class="liner text-center add-tutorial">

        <h2>Как создавать или редактировать материал? <br />
            Да проще простого!</h2>

            <br /><br />

        <div class="row">
            <div class="col-md-4">
              <span class="step-sign push-left">1<span class="step-arrow"></span></span>
              <p>Зарегистрируйтесь на GitHub</p>

            </div>
            <div class="col-md-4" >
              <span class="step-sign">2<span class="step-arrow"></span></span>
              <p>Добавьте свой материал</p>
            
            </div>
            <div class="col-md-4" >
              <span class="step-sign">3<span class="step-arrow"></span></span>
              <p>Напишите коротко о себе</p>
            
            </div>        
            </div> <!-- row ends -->

          <p><a href="/content/add-material.html" class="main-btn">Добавить материал</a></p>

          <br /><br / ><br / >
      </div>


   
        {% include actual.html %}


      <br /> 

    </div> <!--  MAin Conteiner-->
