---
layout: home
---
{% for item in site.all_categories %}
  <div class="section">
    <h2 class="section-title">
      <a class="pull-right counter" href="/content/list/{{ item.url }}">{{ site.categories[item.id] | size }}</a>
      <a class="title" href="/content/list/{{ item.url }}">{{ item.name }}</a>
    </h2>
    <span class="triangle-bottom top0"></span>

    <div class="main-article row">
      {% for post in site.categories[item.id] %}
        {% if post.categories contains "featured" %}
          {% assign id = post.url %}
          <div class="col-sm-6">
            <div class="img-crop">
              <img src="/images/{{ post.img }}" alt="{{ post.title }}" />
            </div>
          </div>
          <div class="col-sm-6">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div><!-- row ends -->
    <br/>
    <div class="section-group row">
      {% assign counter = 0 %}
      {% for post in site.categories[item.id] %}
        {% if post.url != id %}
          {% assign counter = counter | plus:1 %}
          <div class="col-sm-3">
            <div class="popular article-img">
              <div class="img-crop">
                <img src="/images/{{ post.img }}" alt="{{ post.title }}"/>
              </div>
            </div>
            <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
          </div>
        {% endif %}
        {% if counter >= 4 %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>  <!-- row ends -->

    <p class="all-articles">
      <a class="" href="/content/list/{{item.url}}">Все статьи раздела</a>
    </p>
  </div><!-- SECTION -->
{% endfor %}

<div class="section">
  <h2 class="section-title">
    <a href="/content/list/countries.html">Cтраны</a>
  </h2>

  <span class="triangle-bottom top0"></span>

  <ul class="all-countries">
    {% for country in site.all_countries %}
      <li>
        <a href="/content/list/countries.html#{{ country.id }}">
          <img src="images/countries/{{ country.id }}.png" alt="{{ country.name }}" />
          {{ country.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="main-article row">
    {% for country in site.all_countries %}
      {% if site.categories[country.id].first %}
        {% for post in site.categories[country.id] %}
          {% if post.categories contains "featured" %}
            <div class="col-sm-6">
              <div class="img-crop">
                <img src="/images/{{ post.img }}" alt="{{ post.title }}">
              </div>
            </div>
            <div class="col-sm-6 top0">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p>
                {{ post.content | strip_html | truncatewords: 45 | replace: "<em>","" | replace: "</em>","" }}
              </p>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

  <p class="all-articles">
    <a href="/content/list/countries.html">Все статьи раздела</a>
  </p>
</div><!-- SECTION -->
