---
layout: body
withLine: true
---
    <div class="container main-container"> <!--  MAin Conteiner-->

      <div class="row">
        <div class="col-md-2 left-col"> <!--  LEFT -->

          <ul class="link-list">

              <BR/>
              <BR/>
              {% include footer_links.html %}
          </ul>
        </div>
        <div class="col-md-7 article-body">  <!--  CENTER    -->

              {{content}}
        </div>

        <div class="col-md-3 right-col">

            {% include ads.html %}
          <br /> 
      </div><!-- row ends -->




    </div> <!--  MAin Conteiner-->