---
layout: body
withLine: true
---
    <div class="container main-container"> <!--  MAin Conteiner-->

      <div class="row">
        <div class="col-md-2 left-col"> <!--  LEFT -->

          <ul class="link-list">

              <BR/>
              <BR/>
              {% include footer_links.html %}
          </ul>
        </div>
        <div class="col-md-7 article-body">  <!--  CENTER    -->

              {{content}}

            <p class="edit-article">


                <a href="https://github.com/itinua/itinua.github.io/blob/master{{page.url | replace:'.html','.md' }}" target="_blank">
                  <span class="git-cliche git-blue">
                    <img src="/images/info/github-mask.png" width="26" alt="gitHUB" /></span>
                  Редактировать материал</a>
                <a href="https://github.com/itinua/itinua.github.io/commits/master{{page.url | replace:'.html','.md' }}" class="pull-right" target="_blank">
                  <img src="/images/info/history.png" width="24" alt="i" />
                  История изменений</a>
              </p>

        </div>

        <div class="col-md-3 right-col">
            {% include ads.html %}
          <br />
        </div>
      </div><!-- row ends -->




    </div> <!--  MAin Conteiner-->