<!DOCTYPE html>
<html lang="en">
  <head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,700italic,700,500italic,400italic,500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IT in ua — Все о IT Бизнесе в Украине</title>

    <!-- Bootstrap -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/style.css?v=2" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="">

  {% include header.html %}

   {% include liner.html %}


    <div class="container main-container"> <!--  MAin Conteiner-->

      <div class="row">
        <div class="col-md-3 left-col"> <!--  LEFT -->

          <ul class="link-list">

              <BR/>
              <BR/>
             {% for user in site.authors %}

                    {% for item in user %}
                   {% if item.image %}
              <li ><a href="/content/author/{{item.url}}.html"><img style='height: 24px; width: 24px; margin-right: 4px;' src='/images/{{item.image}}'/> {{item.name}}</a></li>
              <br/>
                        {% endif %}
                    {% endfor %}


              {% endfor %}


          </ul>

        </div>
        <div class="col-md-6 article-body">  <!--  CENTER    -->

                <img src="/images/{{page.img}}" alt="{{page.author}}" style='width: 100px;'/>
              {{content}}


 <div class="section">
            <h2 class="section-title">
              <a href="">Статьи автора</a>
              <a class="pull-right" href=""></a> </h2>
            <span class="triangle-bottom top0"></span>


              {% for post in site.posts  %}
                    {% if post.author == page.author %}
            <div class="main-article row">


              <div class="col-sm-2">
                <img src="/images/{{post.img}}" alt="{{post.title}}"/></div>
              <div class="col-sm-9">
                <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                <p>{{post.about}}</p></div>

            </div><!-- row ends -->
            {% endif %}
{% endfor %}


          </div><!-- SECTION -->


        <div class="col-md-3 right-col">


          <br /> 
        </div> 

      </div><!-- row ends -->




    </div> <!--  MAin Conteiner-->

   {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>