---
layout: body
withLine: true
---


    <div class="container"> <!--  MAin Conteiner-->

      <div class="row">


        <div class="col-md-9">  <!--  CENTER    -->

            <div class="row user-header">
              <div class="col-xs-3 ">

                <div class="user-photo">
                  <img src="/{{site.authors[page.author].image}}" width="100" alt="user" />
                  <span class="step-arrow"></span>
                </div>

                <p class="socials">
                  <br />

                  <a href="https://www.facebook.com/nataly.lytvyn" title="facebook" target="_blank">
                    <img src="/images/f-blue.png" width="50" alt="f" /> </a>

                  <a href="https://www.linkedin.com/profile/view?id=126556290" title="linkedin" target="_blank">
                    <img src="/images/in-blue.png" width="32" alt="in" /> </a>

                  <a href="https://twitter.com/litvinataly" title="twitter" target="_blank">
                    <img src="/images/t-blue.png" width="40" alt="g+" /> </a>

                  <a href="https://plus.google.com/+NataliiaLytvyn" title="Google PLus" target="_blank">
                    <img src="/images/g+-blue.png" width="26" alt="t" /> </a>

                  <a href="http://natashenkalitvin.com.ua" title="Website" target="_blank">
                    <img src="/images/home-blue.png" width="41" alt="H" /> </a>

                  <a href="https://github.com/natashenkalitvin" title="gitHUB" target="_blank">
                    <img src="/images/github-blue.png" width="29" alt="gitH" /> </a>
                </p>


              </div>

              <div class="col-xs-9">
                  <h2 class="modest-hr">{{site.authors[page.author].name}}</h2>
                  <p class="fading">{{site.authors[page.author].job}}</p>

                  {{ content }}

                  <br />  
                  <br />
                  <br />


                  <h2 class="modest-hr">Cтатьи Автора</h2>

                  <br />
                  <ul class="bulleted-list">

                      {% for post in site.posts  %}
                            {% if post.author == page.author %}
                             <li>
                              <a  href="{{post.url}}">{{post.title}}</a>
                              <span class="date-format">{{ post.date |date: '%d %B %Y' }}</span>
                            </li>
                      {% endif %}
                    {% endfor %}

                  </ul> 


              </div>
            </div> <!-- Row -->



          <div class="row">
            <div class="col-xs-12">          

              <hr >
              <p>
                <a><img src="/images/user-blue.png" class="top-2" width="16" alt="U " /> &nbsp; 
                  Редактировать профайл</a>  
                  </p>
            </div>
          </div>


         

          <br /><br /><br />
          <div class="liner row">
            <h3 class=" pull-left push-left ">Есть о чем написать?! Станьте автором! </h3>

            <a href="#" class="main-btn top-5 pull-right push-right ">Добавить материал</a> 

          </div>
          <br /><br />
        </div> <!-- CENTER ends -->


        <div class="col-md-3 right-col">

           {% include ads.html %}
        
          <br /> 
        </div> 

      </div><!-- row ends -->


      <br />      <br />      <br />

      <div class="popular">
        <h3 class="block-header">
            <span class="square-pointer">!</span>
            Актуальное</h3>

        <div class="row">
          <div class="col-sm-3">
              <div class="article-img">
                  <div class="img-crop"><img src="/images/money-bags.jpg" alt="Working in Google office"/></div>
                  <span class="triangle-bottom"> </span>
                </div>
              <a href="article.html">Доход СПД-физлица 3 группы при получении валютной выручки</a>
                <span class="date-format">12 февраля ‘15</span>

          </div>

          <div class="col-sm-3">
              <div class="article-img">
                  <div class="img-crop"><img src="/images/work-in-google.jpg" alt="Working in Google office"/></div>
                <span class="triangle-bottom"> </span>
                </div>

              <a href="article.html">Как работать с Google</a>
                <span class="date-format">1 июня ‘15</span>
          
          </div>

          <div class="col-sm-3">
              <div class="article-img">
                  <div class="img-crop"><img src="/images/copyright-trademark-logo.png" class="portrait"  alt="Working in Google office"/></div>
                <span class="triangle-bottom"> </span>
                </div>
              <a href="article.html">Зачем нужно регистрировать торговую марку</a>
                <span class="date-format">15 апреля ‘15</span>
          </div> 

          <div class="col-sm-3">
              <div class="article-img">
                  <div class="img-crop"><img src="/images/tax-calculate.jpg" alt="Working in Google office"/></div>

                <span class="triangle-bottom"> </span>
                </div>
              <a href="article.html">Какая система налогообложения мне подходит</a>
                <span class="date-format">12 марта ‘15</span>
          </div>                 
        </div>  <!-- row ends -->

      </div>  <!-- Popular ends -->

      <br /><br /><br />

    </div> <!--  MAin Conteiner-->